html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  padding-bottom: 114px;
}

.app-row {
  height: 100%;
  margin-bottom: -114px; /* to get rid of footer space*/
}

.restaurant-wrapper {
  margin-top: 200px;
}

.restaurant {
  width: 100%;
  border-bottom: 1px solid #E5EAE7;
  padding: 25px;
}

.clear-link {
  color: black;
}

.clear-link:hover {
  color: black;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.logo svg {
  width: 30%;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.location, .search {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
}

.logo, .location-wrapper, .user-col, .search-col {
  border: 1px solid #E5EAE7;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  border-top: none;
  border-left: none;
}

.user-col {
  padding: 0;
}

.user-last {
  border-right: none;
}

.user-btn {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
}

.search-col {
  border: none;
  border-bottom: 1px solid #E5EAE7;
}

.toggle-row {
  height: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  align-content: center;
}

.open-now, .delivery {
  margin-left: 2em;
  display: block;
  padding-left: 1em;
  padding-right: 1em;

}
