.selected-grid {
  min-height: 100%;

}

.space {
  height: 70px;
}

.selected-row {
}

.dish-row {
  margin-top: 3em;
  margin-bottom: 3em;
}

.dish-display {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.thumb-col {
  padding: 10px;
}

.pointer-cursor:hover {
  cursor: pointer;
}

.thumbnail {
  height: 100%;
  flex-shrink: 2;
}

.dummy-content {
  height: 200px;
  display: flex;
  align-items: center;
}

span {
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.restaurant-title {
  color: green;
}

.restaurant-row {
  /* to get rid of extra footer space*/
  height: 100vh;
  margin-bottom: -114px;

}

.restaurant-wrap {
  margin-top: 50%;
  display: flex;
  align-self: center;
  height: 50%;
}

.restaurant-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.restaurant-content span {
  font-size: 18px;
  color: grey;
}

.no-result {
  height: 200px;
  display: flex;
  align-items: center;
}

.no-result span {
  font-size: 16px;
  color: grey;
}

.carousel {
  max-height: 450px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.col-container {
  padding: 0;
  margin: 0
}

.form-container {
  display: flex;
}

.form-group {
  width: 85%;
  display: flex;
  align-content: center;
}

.control {
  border: 1px solid red;
  width: 100%;
  align-self: center;
}

.search {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
  border-bottom: 1px solid #E5EAE7;
}

.wrapper {
  border: 1px solid #E5EAE7;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  border-top: none;
  border-left: none;
}

.search-btn {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
  border-bottom: 1px solid #E5EAE7;
}
