.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.logo svg {
  width: 30%;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.location, .search {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
}

.logo, .location-wrapper, .user-col {
  border: 1px solid #E5EAE7;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  border-top: none;
  border-left: none;
}

.user-col {
  padding: 0;
}

.user-last {
  border-right: none;
}

.user-btn {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  border: none;
  shadow: none;
}
